@import '../../variables.scss';

.UserCard {
  @include card;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  margin: 2em;
  width: 12em;

  > .avatar {
    border-radius: 50%;
    width: 5em;  
    height: 5em;
    margin-bottom: 1em;
  }
}
